server {
    listen 80;
    server_name 18.192.50.161;

    root /var/www/html;
    index index.html index.htm;

    location / {
        try_files $uri $uri/ /index.html;
    }

    {% for user in users if user.position == "Boss" %}
    location ~* /{{ user.name }}\.html$ {
        auth_basic "VIP-Zugang";
        auth_basic_user_file /etc/nginx/.htpasswd;
    }
    {% endfor %}
}


